<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Soil Moisture Levels
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Soil </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Harkness Hall <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Trevor Arnett <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Thayer Hall <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Carl And Mary Ware <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Haven Warren <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Henderson Student Center <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Alumni House <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Freshman Quad <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Promenade Trees <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Library <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Brawley Hall <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Heritage Commons <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Ware Hall <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Bumstead Hall <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Panther Stadium <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Beckwith Hall <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item>
      <ion-label>Knowles Hall <ion-icon name="water-outline"></ion-icon></ion-label>
    
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          Moisture Levels
          </ion-card-title>
        <p>
          This is where the moisture levels will be located.
        </p>
      </ion-card-content>
    </ion-card>
    </ion-item>
    <ion-item>
      <ion-label>Oglethorpe Hall <ion-icon name="water-outline"></ion-icon></ion-label>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            Moisture Levels
            </ion-card-title>
          <p>
            This is where the moisture levels will be located.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  
  
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
